body {
    background-color: #ece2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    gap: 20px; /* Відстань між кнопками */
}

/* Цей блок стилізує всі кнопки на сторінці */
button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #046b7e;
    background-color: #00ff41; /* Зелений колір */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

/* Ефект при наведенні мишкою */
button:hover {
    background-color: #00cc33;
    transform: scale(1.05);
}